doctype html
html
  head
    title Webpack - Gulp - Babel
    if useExternalStylesheets
      link(rel='stylesheet', href='/build/app.css')
  
  body
    h1 Hello World
    script(src='build/vendor.js')
    script(src='build/app.js')